<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 403</title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/icons/broken_page.png')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css for errorpage/main.css')}}">
</head>
<body>
    <h1>403,Access Denied for this page</h1>
    <h3>{{user}}, You are not allowed to access this page</h3>
    <a href="{{url_for('.post_index',parser_key=secret)}}">
        <button class="button-class">
            Back
        </button>
    </a>
</body>
</html>